extends layout 

block content
    h1 New Message

    form(
        action="/new"
        method = "POST"
    )
        div.form-element
            label(for="text") Message
            input#text(type="textarea", name="text" required)
        div.form-element
            label(for="author") Author Name
            input#author(type="text", name="author" required)

        button(type="submit") Submit